<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Category Management</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='category.css') }}">

</head>

<body>

<div class="page">

    <!-- Breadcrumb -->

    <div class="breadcrumb">

        Dashboard >

        Inventory >

        <span>Categories</span>

    </div>
    {% with message = get_flashed_messages(with_categories=true) %}
        {% if message %}
            {% for category, msg in message %}
                <div class="flash-message {{ category }}">
                    {{ msg }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Page Title -->

    <div class="page-title">

        <div>

            <h1>📂 Category Management</h1>

            <p>
                Manage all product categories in your inventory system.
            </p>

        </div>

        <div class="page-action">

            <a href="/home" class="back-btn">

                🏠 Dashboard

            </a>

            <a href="/add_category" class="add-btn">

                ➕ Add Category

            </a>

        </div>

    </div>

    <!-- Search -->

    <div class="search-card">

        <form action="/category" method="GET">

            <input
                type="text"
                name="search"
                placeholder="🔍 Search category..."
                value="{{ search if search else '' }}">

            <button type="submit">

                Search

            </button>

        </form>

    </div>

    <!-- Table -->

    <div class="table-card">

        <table>

            <thead>

                <tr>

                    <th>ID</th>

                    <th>Category Name</th>

                    <th>Description</th>

                    <th>Action</th>

                </tr>

            </thead>

            <tbody>

                {% if datas %}

                    {% for row in datas %}

                        <tr>

                            <td>{{ row.category_id }}</td>

                            <td>{{ row.category_name }}</td>

                            <td>{{ row.description }}</td>

                             <td>

                                <a href="/update_category/{{ row.category_id }}"
                                    class="edit-btn">

                                    ✏ Edit

                                </a>

                                <a href="/delete_category/{{ row.category_id }}"
                                    class="delete-btn">

                                    🗑 Delete

                                </a>

                            </td>

                        </tr>

                    {% endfor %}

                        {% else %}

                    <tr>

                    <td colspan="4" class="empty-data">

                        <h3>📂 No Categories Found</h3>

                        <p>Create your first category to start managing products.</p>

                    </td>

                    </tr>

                {% endif %}

            </tbody>
        </table>

    </div>
    <!-- Pagination -->

    <div class="pagination">

        <div class="page-info">

            Showing {{current_page}} of {{total_pages}}

        </div>

        <div class="page-number">
            {% if current_page > 1 %}

            <a href="{{url_for('category.category',
                        page=current_page-1,
                        serach=search)}}">
                        Previous
            </a>
            {% endif %}

            {% for i in range(1, total_pages + 1) %}

                <a href="{{ url_for('category.category',
                            page=i,
                            search=search) }}"

                    {% if i == current_page %}

                        class="active"

                    {% endif %}>

                    {{ i }}

                </a>

            {% endfor %}

            {% if current_page < total_pages %}

                <a href="{{ url_for('category.category',
                        page=current_page+1,
                        search=search) }}">

                    Next

                </a>

            {% endif %}

        </div>

    </div>

</div>

</body>

</html>