{% extends "layout.html" %}

{% block title %}
dashboard
{% endblock %}

{% block page_title %}
dashboard
{% endblock %}

{% block content %}

<!-- Dashboard Cards -->
<div class="dashboard">

   <!-- Dashboard Cards -->

<div class="dashboard">

    <div class="card products">

        <h3>📦 Total Products</h3>

        <h1>{{datas.total_count}}</h1>

    </div>

    <div class="card instock">

        <h3>✅ In Stock</h3>

        <h1>{{stock.total_stockin}}</h1>

    </div>

    <div class="card lowstock">

        <h3>⚠ Low Stock</h3>

        <h1>{{low.status}}</h1>

    </div>

    <div class="card outstock">

        <h3>❌ Out of Stock</h3>

        <h1>{{out.out_stock}}</h1>

    </div>

    <div class="card suppliers">

        <h3>🚚 Total Suppliers</h3>

        <h1>{{supplier.total_supplier}}</h1>

    </div>

</div>

</div>

<!-- Recent Stock -->
<div class="content-row">

    <div class="table-box">

        <div class="table-header">

            <h3>Recent Stock In</h3>

        </div>

        <table>

            <thead>

                <tr>

                    <th>Product</th>
                    <th>Supplier</th>
                    <th>Date</th>
                    <th>Quantity</th>

                </tr>

            </thead>

            <tbody>

                {% if recent_stockin %}

                {% for row in recent_stockin %}

                <tr>

                    <td>

                        {{ row.product_name }}

                    </td>

                    <td>

                        {{ row.supplier_name }}

                    </td>

                    <td>

                        {{ row.stockin_date }}

                    </td>

                    <td>

                        <span class="qty in">

                            +{{ row.quantity }}

                        </span>

                    </td>

                </tr>

                {% endfor %}

            {% else %}

            <tr>

                <td colspan="4" class="empty-data">

                    No Stock In Records

                </td>

            </tr>

            {% endif %}


            </tbody>

        </table>

    </div>

</div>

<!-- Low Stock -->
<div class="alert-box">

    <div class="table-header">

        <h3>Low Stock Alert</h3>

    </div>

    <table>

        <thead>

            <tr>

                <th>Image</th>
                <th>Product</th>
                <th>Stock</th>

            </tr>

        </thead>

       <tbody>

            {% if low_stock_products %}

                {% for row in low_stock_products %}

                <tr>

                    <td>

                        {% if row.image %}

                            <img
                                src="{{ url_for('static',
                                filename='images/' + row.image) }}"
                                class="product-img">

                        {% else %}

                            <img
                                src="{{ url_for('static',
                                filename='images/no-image.jpg') }}"
                                class="product-img">

                        {% endif %}

                    </td>

                    <td>

                        {{ row.product_name }}

                    </td>

                    <td>

                        <span class="low-stock">

                            {{ row.stock }}

                        </span>

                    </td>

                </tr>

                {% endfor %}

            {% else %}

            <tr>

                <td colspan="3" class="empty-data">

                    No Low Stock Products

                </td>

            </tr>

            {% endif %}

            </tbody>

    </table>

</div>

{% endblock %}