
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Supplier Management</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='supplier.css') }}">

</head>

<body>

<div class="page">

    <!-- Breadcrumb -->

    <div class="breadcrumb">

        Dashboard >

        Inventory >

        <span>Suppliers</span>

    </div>
    {% with message = get_flashed_messages(with_categories=true) %}
        {% if message %}
            {% for category, msg in message %}
                <div class="flash-message {{ category }}">
                    {{ msg }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Page Title -->

    <div class="page-title">

        <div>

            <h1>🚚 Supplier Management</h1>

            <p>
                Manage supplier contacts, companies and business information.
            </p>

        </div>

        <div class="page-action">

            <a href="/home" class="back-btn">

                🏠 Dashboard

            </a>

            <a href="/add_supplier" class="add-btn">

                ➕ Add supplier
            </a>

        </div>

    </div>

    <!-- Search -->

    <div class="search-card">

        <form action="/supplier" method="GET">

            <input
                type="text"
                name="search"
                placeholder="🔍 Search supplier..."
                value="{{ search if search else '' }}">

            <button type="submit">

                Search

            </button>

        </form>

    </div>

    <!-- Table -->

    <div class="table-card">

        <table>

            <thead>

                <tr>

                    <th>ID</th>

                    <th>Supplier Name</th>

                    <th>Company</th>

                    <th>Phone</th>

                    <th>Email</th>

                    <th>Address</th>

                    <th>Action</th>

                </tr>

            </thead>

            <tbody>

                {% if datas %}

                    {% for row in datas %}

                        <tr>

                            <td>{{ row.supplier_id }}</td>

                            <td>{{ row.supplier_name }}</td>

                            <td>{{ row.company_name }}</td>

                            <td>{{ row.phone }}</td>

                            <td>{{ row.email }}</td>

                            <td>{{ row.address }}</td>

                             <td>

                                <div class="action-buttons">

                                    <a href="/update_supplier/{{ row.supplier_id }}"
                                        class="edit-btn">

                                        ✏ Edit

                                    </a>

                                    <a href="/delete_supplier/{{ row.supplier_id }}"
                                        class="delete-btn">

                                        🗑 Delete

                                    </a>

                                </div>

                            </td>

                        </tr>

                    {% endfor %}

                        {% else %}

                    <tr>

                    <td colspan="4" class="empty-data">

                        <h3>📂 No suppliers Found</h3>

                        <p>Create your first category to start managing products.</p>

                    </td>

                    </tr>

                {% endif %}

            </tbody>
        </table>
        <!-- Pagination -->

        <div class="pagination">

            <div class="page-info">

                Showing Page {{ current_page }} of {{ total_pages }}

            </div>

            <div class="page-number">

            <!-- Previous -->

            {% if current_page > 1 %}

            <a href="{{ url_for('supplier.supplier',
                            page=current_page-1,
                            search=search) }}">

                Previous

            </a>

            {% endif %}

            <!-- Page Numbers -->

            {% for i in range(1, total_pages + 1) %}

            <a href="{{ url_for('supplier.supplier',
                            page=i,
                            search=search) }}"

                {% if i == current_page %}

                    class="active"

                {% endif %}>

                    {{ i }}

            </a>

            {% endfor %}

            <!-- Next -->

            {% if current_page < total_pages %}

            <a href="{{ url_for('supplier.supplier',
                            page=current_page+1,
                            search=search) }}">

                    Next

            </a>

            {% endif %}

            </div>

        </div>

    </div>

</div>

</body>

</html>
