<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Update Category</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='category.css') }}">

</head>

<body>

<div class="page">

    <!-- Breadcrumb -->

    <div class="breadcrumb">

        Dashboard >

        Inventory >

        Category >

        <span>Update Category</span>

    </div>

    <!-- Title -->

    <div class="page-title">

        <div>

            <h1>✏️ Update Category</h1>

            <p>Update the selected category information.</p>

        </div>

    </div>

    <!-- Card -->

    <div class="card">

        <h2>Category Information</h2>

        {% if error %}

        <div class="error-message">
            {{error}}
        </div>
        {% endif %}

        <form  method="POST">

            <div class="input-group">

                <label>Category Name *</label>

                <input
                    type="text"
                    name="category_name"
                    value="{{ data.category_name }}"
                    required>

            </div>

            <div class="input-group">

                <label>Description</label>

                <textarea
                    name="description"
                    rows="5">{{ data.description }}</textarea>

            </div>

            <div class="button-group">

                <button class="save-btn">

                    💾 Update Category

                </button>

                <a href="/category"
                   class="back-btn">

                    ← Back

                </a>

            </div>

        </form>

    </div>

</div>

</body>

</html>